.l_login--carrusel {
    grid-area: carrusel;
}

.l_login--img {
    background-image: url(assets/images/BB.jpg);
    background-position: center;
    background-size: cover;
}

.container_img--login {
    position: relative;
}